---
swagger: "2.0"
info:
  description: "# Overview\n## Introduction\ntest\n<img style=\"float: right; margin-left:\
    \ 10px; width: 100px;\" src=\"images/phone.png\">\nTextMagic SMS API is a platform\
    \ for building your own messaging app using our messaging infrastructure.\nIt\
    \ allows you to send and receive SMS text messages, query information about inbound\
    \ and outbound messages,\nmanage contacts, create templates (i.e. message formats\
    \ and static texts) and schedule recurrent SMS\nmessages as well as process bulk\
    \ SMS messages.\n<button name=\"button\" onclick=\"http://www.google.com\" class=\"\
    btn\">Try TextMagic API for Free</button>\n\n### Two Ways to Use TextMagic API\n\
    * [REST API](https://www.textmagic.com/docs/api/start/) – get full access to TextMagic’\
    s messaging gateway features\n* [Email to SMS API](https://www.textmagic.com/docs/api/send-email-to-sms/)\
    \ – set up two-way SMS communication without the need to write any additional\
    \ code\n\n### Code Libraries\nWe have created a set of client libraries for the\
    \ most popular programming languages (such as REST API Java and REST\nAPI PHP).\
    \ These libraries allow you to integrate our API into your code in minutes. Just\
    \ choose your preferred language\nto get started:\n\n## Getting started\nGet Started\
    \ with the TextMagic REST API\nTo start sending text messages using the TextMagic\
    \ REST API, just follow these steps:\n1. Generate the API credentials\n1. Connect\
    \ to our API endpoint\nThis page provides all the information you need to get\
    \ started. Here, we explain the following steps:\n\nHow to obtain the API credentials\n\
    The API endpoint\nHow the REST API works\nThe next step\nHow to obtain the API\
    \ credentials\n\n### How to obtain the API credentials\nTo start sending text\
    \ messages, you need to create an API key. API keys are similar to an account\
    \ password; the difference is that an API key only provides access to the API:\
    \ you cannot log in to TextMagic Online using the API key.\n\nYour program sends\
    \ the login credentials with each API request as HTTP headers: `X-TM-Username`\
    \ is your TextMagic username, while `X-TM-Key` is your API key.\n\nHow to obtain\
    \ an API key:\n\n1. Log in to TextMagic (or start a free trial if you haven’t\
    \ registered yet).\n1. Go to the API settings page.\n1. Click the Add new API\
    \ key button.\n1. Enter an app name for this key. Note, it’s just a label, so\
    \ pick any name.\n1. Click Generate new key.\n1. You should now see your new API\
    \ key in the green notification banner above the table:\n\n![alt text](images/credentials.png)\n\
    \n> Note for API v1 users\n> V1 keys are not compatible with the V2 version of\
    \ the TextMagic REST API, so you will need to generate a new API key to use the\
    \ V2 endpoint.\n\n### The API endpoint\nThe TextMagic REST API endpoint is:\n\
    ```\nhttps://rest.textmagic.com/api/v2\n```\nAll the URLs referenced in this documentation\
    \ should use this base URL.\n\n### How the REST API works\nREST APIs use the HTTP\
    \ protocol to send and receive messages. REST messages are usually encoded as\
    \ JSON documents and are an improvement over older methods such as the XML based\
    \ SOAP protocol. REST APIs use the same set of methods that web browsers use:\
    \ POST, GET, PUT or DELETE. These correspond to the CRUD operations: create, read,\
    \ update and delete. Often, REST URIs provide direct CRUD access to entities or\
    \ collections of entities, for example: http://api.foo.com/people. In this instance,\
    \ to delete a person’s endpoint, you might simply call the endpoint DELETE http://api.foo.com/people/{id}.\
    \ REST makes these types of operations simple.\n\n> Example\n>\n> Let’s take the\
    \ entity most often used in messaging: contacts. Imagine you want to perform operations\
    \ on your contacts list: well, it’s only a matter of calling the following endpoints:\n\
    > * GET /api/v2/contacts (get all of your contacts)\n> * GET /api/v2/contacts/{id}\
    \ (get a specific contact)\n> * POST /api/v2/contacts (create a new contact)\n\
    > * PUT /api/v2/contacts/{id} (update an existing contact)\n> * DELETE /api/v2/contacts/{id}\
    \ (delete an existing contact)\nIt’s that simple! In fact, that’s all you need\
    \ to do to manage the contacts in your TextMagic account!\n\n## Sandbox\nSandbox\
    \ is a tool to test TextMagic REST API requests without the need to install any\
    \ applications or write any code.\nHere, we explain the following details about\
    \ Sandbox:\n* The credentials area\n* Command documentation\n* How it works\n\n\
    <a href=\"\">Go to TextMagic Sandbox</a>\n\n### The credentials area\nTo make\
    \ requests using your TextMagic account, you need to enter your account username\
    \ and your API key into\nthe corresponding fields. You may also Save them in your\
    \ browser or press Clear to erase them.\n\n![alt text](images/sandbox.png)\n"
  version: "2"
  title: "TextMagic API Documentation"
  termsOfService: "http://swagger.io/terms/"
  contact:
    name: "API Support"
    url: "http://docs.textmagictesting.com/"
    email: "support@textmagi.biz"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "https://www.textmagic.com/wp-content/themes/textmagic-genesis/assets/vendor/textmagic/marketing/css/../images/logo/logo.svg"
    altText: "TextMagic"
host: "my.textmagic.com"
tags:
- name: "Outbound Messages"
  description: "### How to send a single text message\n\nTo send a simple text message\
    \ to one recipient, you should set only the `text` and the `phones` parameters.\
    \ `text` should\ncontain that desired text and `phones` should be set to the recipient’\
    s international phone number.\n\nFor example, to send an SMS message with the\
    \ text “I love TextMagic” to the phone number +44 (0) 7 860021130, use the command:\n\
    \n> POST https://rest.textmagic.com/api/v2/messages\n\nwith the following parameters:\n\
    \n| Parameter | Value |\n| --------- | ----- |\n| text |I love TextMagic (don’\
    t forget to urlencode your string!) |\n| phones | 447860021130 |\n\nYou will receive\
    \ a result like this:\n\n| Parameter | Example |\n| --------- | ------- |\n| id\
    \ | 49576009 |\n| href | /api/v2/messages/49576009 |\n| type | message |\n| sessionId\
    \ | 34436600 |\n| bulkId | null |\n| messageId | 49576009 |\n| scheduleId | null\
    \ |\n\nAs long as you have sent a message to at least one recipient, the TextMagic\
    \ API will return not only the session ID,\nbut also the single message ID. Also,\
    \ you can watch for the delivery status changes using this ID without\nfetching\
    \ session messages first. Since this is not a bulk session or scheduled message,\n\
    `bulkId` and `scheduleId` are null.\n\n### How to send bulk text messages\nTODO\n\
    \n### Sending more than 1,000 messages in one session\nTODO\n\n### How to send\
    \ a text message with an attachment\nTODO\n\n### Delivery status callback\n"
  x-displayName: "Outgoing messages\n"
schemes:
- "http"
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- BasicAuth: []
paths:
  /api/v2/auth:
    post:
      tags:
      - "TextMagic"
      summary: "Authenticate user by given username and password."
      description: "Returning a username and token that you should pass to the all\
        \ requests (in X-TM-Username and X-TM-Key, respectively)"
      operationId: "doAuth"
      parameters:
      - in: "body"
        name: "DoAuthInputObject"
        required: true
        schema:
          $ref: "#/definitions/DoAuthInputObject"
        x-exportParamName: "DoAuthInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/DoAuthResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
      security: []
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\DoAuthInputObject;\nuse TextMagic\\Api\\TextMagicApi;\nuse TextMagic\\\
          Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n \
          \   ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new DoAuthInputObject();\n$input->setUsername('test@test.com');\n\
          $input->setPassword('test');\n$input->setAppName('My application');\n$input->setAppVersion('1.0.0\
          \ beta');\n$input->setDeviceId('03df25c845d460bcdad7802d2vf6fc1dfde97283bf75cc993eb6dca835ea2e2');\n\
          $input->setPushServiceType('a');\n$input->setTfaCode('12345');\n$input->setTfaId('12345');\n\
          \ntry {\n    $result = $api->doAuth($input);\n    print_r($result);\n} catch\
          \ (Exception $e) {\n    echo 'Exception when calling TextMagicApi->doAuth:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/timezones:
    get:
      tags:
      - "TextMagic"
      summary: "Return all available timezone IDs."
      operationId: "getTimezones"
      parameters:
      - name: "full"
        in: "query"
        description: "Return full info about timezones in array (0 or 1). Default\
          \ is 0"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Full"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "object"
            example:
            - id: 3
              name: "(UTC -11:00): Pacific/Samoa"
              offset: -39600
              timezone: "Pacific/Samoa"
            - id: 2
              name: "(UTC -11:00): Pacific/Midway"
              offset: -39600
              timezone: "Pacific/Midway"
            - id: 4
              name: "(UTC -10:00): Pacific/Tahiti"
              offset: -36000
              timezone: "Pacific/Tahiti"
            - id: 5
              name: "(UTC -10:00): Pacific/Honolulu"
              offset: -36000
              timezone: "Pacific/Honolulu"
            - id: 6
              name: "(UTC -09:30): Pacific/Marquesas"
              offset: -34200
              timezone: "Pacific/Marquesas"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$full = 0; // optional\n\ntry {\n    $result = $api->getTimezones($full);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getTimezones: ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/ping:
    get:
      tags:
      - "TextMagic"
      summary: "Just does a pong."
      operationId: "ping"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/PingResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->ping();\n    print_r($result);\n} catch\
          \ (Exception $e) {\n    echo 'Exception when calling TextMagicApi->ping:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/user/disallowed-rules:
    get:
      tags:
      - "TextMagic"
      summary: "Get an array of all rules that are disallowed to the current account."
      operationId: "getDisallowedRules"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "array"
            items:
              type: "string"
            example:
            - "SEND_MESSAGES"
            - "MAKE_CALLS"
            - "EMAIL_LOOKUP"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getDisallowedRules();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getDisallowedRules:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/push/tokens:
    get:
      tags:
      - "TextMagic"
      summary: "Get all device tokens assigned to the current account"
      operationId: "getPushTokens"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetPushTokensResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getPushTokens();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getPushTokens:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
    post:
      tags:
      - "TextMagic"
      summary: "Add or update a device token."
      operationId: "createPushToken"
      parameters:
      - in: "body"
        name: "CreatePushTokenInputObject"
        required: true
        schema:
          $ref: "#/definitions/CreatePushTokenInputObject"
        x-exportParamName: "CreatePushTokenInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Returned when created with success."
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\CreatePushTokenInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new CreatePushTokenInputObject();\n$input->setDeviceId('123');\n\
          $input->setPushServiceType('a');\n\ntry {\n    $result = $api->createPushToken($input);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->createPushToken: ', $e->getMessage(), PHP_EOL;\n\
          }"
  /api/v2/push/tokens/{type}/{deviceId}:
    delete:
      tags:
      - "TextMagic"
      summary: "Delete a push notification device token."
      operationId: "deletePushToken"
      produces: []
      parameters:
      - name: "type"
        in: "path"
        required: true
        type: "string"
        default: "a"
        x-exportParamName: "Type_"
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        default: 123
        x-exportParamName: "DeviceId"
      responses:
        204:
          description: "Returned when deleted with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$type = 'a';\n$deviceId = 123;\n\ntry {\n    $result = $api->deletePushToken($type,\
          \ $deviceId);\n    print_r($result);\n} catch (Exception $e) {\n    echo\
          \ 'Exception when calling TextMagicApi->deletePushToken: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
  /api/v2/state:
    get:
      tags:
      - "TextMagic"
      summary: "Get current entities state"
      operationId: "getState"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetStateResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getState();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getState:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/versions:
    get:
      tags:
      - "TextMagic"
      summary: "Get minimal valid apps versions"
      operationId: "getVersions"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetVersionsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getVersions();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getVersions:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/lookups/{phone}:
    get:
      tags:
      - "TextMagic"
      summary: "Carrier Lookup"
      operationId: "doCarrierLookup"
      parameters:
      - name: "phone"
        in: "path"
        required: true
        type: "string"
        x-example: "1-541-754-3010"
        x-exportParamName: "Phone"
      - name: "country"
        in: "query"
        description: "Country code for local formatted numbers"
        required: false
        type: "string"
        default: "US"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/DoCarrierLookupResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        429:
          description: "Returned when number of queries per second too much"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$phone = '1-541-754-3010';\n$country = 'US'; // optional\n\ntry {\n\
          \    $result = $api->doCarrierLookup($phone, $country);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->doCarrierLookup:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/countries:
    get:
      tags:
      - "TextMagic"
      summary: "Return list of countries."
      operationId: "getCountries"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Country"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getCountries();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getCountries:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/user:
    get:
      tags:
      - "TextMagic"
      summary: "Get current user info."
      operationId: "getCurrentUser"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getCurrentUser();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getCurrentUser:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
    put:
      tags:
      - "TextMagic"
      summary: "Update current user info."
      operationId: "updateCurrentUser"
      parameters:
      - in: "body"
        name: "UpdateCurrentUserInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateCurrentUserInputObject"
        x-exportParamName: "UpdateCurrentUserInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Updated with success"
          schema:
            $ref: "#/definitions/UpdateCurrentUserResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\UpdateCurrentUserInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new UpdateCurrentUserInputObject();\n\ntry {\n    $result\
          \ = $api->updateCurrentUser($input);\n    print_r($result);\n} catch (Exception\
          \ $e) {\n    echo 'Exception when calling TextMagicApi->updateCurrentUser:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/user/avatar:
    delete:
      tags:
      - "TextMagic"
      summary: "Delete an avatar for the current user.\\"
      operationId: "deleteAvatar"
      produces: []
      parameters: []
      responses:
        204:
          description: "Avatar has been deleted with success"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->deleteAvatar();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->deleteAvatar:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/user/phone/verification:
    get:
      tags:
      - "TextMagic"
      summary: "Send user phone verification"
      operationId: "sendPhoneVerificationCode"
      parameters: []
      responses:
        200:
          description: "Verification SMS has been sent"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->sendPhoneVerificationCode();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->sendPhoneVerificationCode:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
    put:
      tags:
      - "TextMagic"
      summary: "Check user phone verification code"
      operationId: "checkPhoneVerificationCode"
      parameters:
      - in: "body"
        name: "CheckPhoneVerificationCodeInputObject"
        required: true
        schema:
          $ref: "#/definitions/CheckPhoneVerificationCodeInputObject"
        x-exportParamName: "CheckPhoneVerificationCodeInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          description: "Verification code has been approved with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\CheckPhoneVerificationCodeInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new CheckPhoneVerificationCodeInputObject();\n$input->setCode(1111);\n\
          \ntry {\n    $result = $api->checkPhoneVerificationCode($input);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->checkPhoneVerificationCode:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/user/email/verification:
    get:
      tags:
      - "TextMagic"
      summary: "Send user email verification"
      operationId: "sendEmailVerificationCode"
      parameters: []
      responses:
        200:
          description: "Verification Email has been sent"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->sendEmailVerificationCode();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->sendEmailVerificationCode:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/user/password/change:
    put:
      tags:
      - "TextMagic"
      summary: "Change user password."
      operationId: "updatePassword"
      produces: []
      parameters:
      - in: "body"
        name: "UpdatePasswordInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdatePasswordInputObject"
        x-exportParamName: "UpdatePasswordInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          description: "Password has been updated with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\UpdatePasswordInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new UpdatePasswordInputObject();\n$input->setOldPassword('myOldPassword');\n\
          $input->setNewPassword('myNewPassword');\n\ntry {\n    $result = $api->updatePassword($input);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->updatePassword: ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/sources:
    get:
      tags:
      - "TextMagic"
      summary: "Get all available sender setting options which could be used in \"\
        from\" parameter of POST messages method."
      operationId: "getAvailableSenderSettingOptions"
      parameters:
      - name: "country"
        in: "query"
        description: "Return sender setting options available in specific country\
          \ only. Two upper case characters"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Available sender setting options returned with success"
          schema:
            $ref: "#/definitions/GetAvailableSenderSettingOptionsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$country = 'sampleValue'; // optional\n\ntry {\n    $result = $api->getAvailableSenderSettingOptions($country);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getAvailableSenderSettingOptions: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
  /api/v2/sender/settings:
    get:
      tags:
      - "TextMagic"
      summary: "Get current user sender settings."
      operationId: "getSenderSettings"
      parameters:
      - name: "country"
        in: "query"
        description: "Return sender settings enabled for sending to specified country.\
          \ Two upper case characters"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Sender settings returned with success"
          schema:
            $ref: "#/definitions/GetSenderSettingsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$country = 'sampleValue'; // optional\n\ntry {\n    $result = $api->getSenderSettings($country);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getSenderSettings: ', $e->getMessage(), PHP_EOL;\n\
          }"
    put:
      tags:
      - "TextMagic"
      summary: "Change sender settings for specified country."
      operationId: "updateSenderSetting"
      produces: []
      parameters:
      - in: "body"
        name: "UpdateSenderSettingInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateSenderSettingInputObject"
        x-exportParamName: "UpdateSenderSettingInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          description: "Sender settings have been updated with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\UpdateSenderSettingInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new UpdateSenderSettingInputObject();\n$input->setValue('447624800500');\n\
          $input->setCountry('AF');\n$input->setChatId(344);\n\ntry {\n    $result\
          \ = $api->updateSenderSetting($input);\n    print_r($result);\n} catch (Exception\
          \ $e) {\n    echo 'Exception when calling TextMagicApi->updateSenderSetting:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/numbers:
    get:
      tags:
      - "TextMagic"
      summary: "Get user's dedicated numbers."
      operationId: "getUserDedicatedNumbers"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "surveyId"
        in: "query"
        description: "Fetch only that numbers which are ready for the survey"
        required: false
        type: "integer"
        x-exportParamName: "SurveyId"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Requested data returned with success"
          schema:
            $ref: "#/definitions/GetUserDedicatedNumbersResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$page = 1; // optional\n$limit = 10; // optional\n$surveyId = 1; //\
          \ optional\n\ntry {\n    $result = $api->getUserDedicatedNumbers($page,\
          \ $limit, $surveyId);\n    print_r($result);\n} catch (Exception $e) {\n\
          \    echo 'Exception when calling TextMagicApi->getUserDedicatedNumbers:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
    post:
      tags:
      - "TextMagic"
      summary: "Buy a dedicated number and assign it to the specified account."
      operationId: "buyDedicatedNumber"
      parameters:
      - in: "body"
        name: "BuyDedicatedNumberInputObject"
        required: true
        schema:
          $ref: "#/definitions/BuyDedicatedNumberInputObject"
        x-exportParamName: "BuyDedicatedNumberInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Number has been bought with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\BuyDedicatedNumberInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new BuyDedicatedNumberInputObject();\n$input->setPhone('123456780');\n\
          $input->setCountry('AU');\n$input->setUserId();\n\ntry {\n    $result =\
          \ $api->buyDedicatedNumber($input);\n    print_r($result);\n} catch (Exception\
          \ $e) {\n    echo 'Exception when calling TextMagicApi->buyDedicatedNumber:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/numbers/available:
    get:
      tags:
      - "TextMagic"
      summary: "Find available dedicated numbers to buy."
      operationId: "getAvailableDedicatedNumbers"
      parameters:
      - name: "prefix"
        in: "query"
        description: "Desired number prefix. Should include country code (i.e. 447\
          \ for GB). In case provide tollfree = 1 parameter and there are available\
          \ tollfree numbers, this parameter will be ignore."
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Prefix"
        x-optionalDataType: "Int32"
      - name: "tollfree"
        in: "query"
        description: "Should we show only tollfree numbers (tollfree available only\
          \ for US). Default is false."
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Tollfree"
        x-optionalDataType: "Int32"
      - name: "country"
        in: "query"
        description: "Dedicated number country. Two letters in upper case"
        required: true
        type: "string"
        x-example: "GB"
        x-exportParamName: "Country"
      responses:
        200:
          description: "The list of available to buy dedicated numbers"
          schema:
            $ref: "#/definitions/GetAvailableDedicatedNumbersResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$country = 'GB';\n$prefix = 1; // optional\n$tollfree = 0; // optional\n\
          \ntry {\n    $result = $api->getAvailableDedicatedNumbers($country, $prefix,\
          \ $tollfree);\n    print_r($result);\n} catch (Exception $e) {\n    echo\
          \ 'Exception when calling TextMagicApi->getAvailableDedicatedNumbers: ',\
          \ $e->getMessage(), PHP_EOL;\n}"
  /api/v2/numbers/{id}:
    get:
      tags:
      - "TextMagic"
      summary: "Get a single dedicated number."
      operationId: "getDedicatedNumber"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Requested dedicated number data returned with success"
          schema:
            $ref: "#/definitions/UsersInbound"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$id = 1;\n\ntry {\n    $result = $api->getDedicatedNumber($id);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getDedicatedNumber: ', $e->getMessage(), PHP_EOL;\n\
          }"
    delete:
      tags:
      - "TextMagic"
      summary: "Cancel dedicated number subscription."
      operationId: "deleteDedicatedNumber"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        204:
          description: "Dedicated number has been deleted with success"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$id = 1;\n\ntry {\n    $result = $api->deleteDedicatedNumber($id);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->deleteDedicatedNumber: ', $e->getMessage(), PHP_EOL;\n\
          }"
  /api/v2/senderids:
    get:
      tags:
      - "TextMagic"
      summary: "Get all sender IDs of current user."
      operationId: "getSenderIds"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Sender ids of current user returned with success"
          schema:
            $ref: "#/definitions/GetSenderIdsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$page = 1; // optional\n$limit = 10; // optional\n\ntry {\n    $result\
          \ = $api->getSenderIds($page, $limit);\n    print_r($result);\n} catch (Exception\
          \ $e) {\n    echo 'Exception when calling TextMagicApi->getSenderIds: ',\
          \ $e->getMessage(), PHP_EOL;\n}"
    post:
      tags:
      - "TextMagic"
      summary: "Request for a new Sender ID."
      operationId: "requestSenderId"
      parameters:
      - in: "body"
        name: "RequestSenderIdInputObject"
        required: true
        schema:
          $ref: "#/definitions/RequestSenderIdInputObject"
        x-exportParamName: "RequestSenderIdInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Sender ID request has been created with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\RequestSenderIdInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new RequestSenderIdInputObject();\n$input->setSenderId('Testid1');\n\
          $input->setExplanation('Test description');\n\ntry {\n    $result = $api->requestSenderId($input);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->requestSenderId: ', $e->getMessage(), PHP_EOL;\n\
          }"
  /api/v2/senderids/{id}:
    get:
      tags:
      - "TextMagic"
      summary: "Get a single Sender ID."
      operationId: "getSenderId"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Sender Id data returned with success"
          schema:
            $ref: "#/definitions/SenderId"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$id = 1;\n\ntry {\n    $result = $api->getSenderId($id);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getSenderId:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
    delete:
      tags:
      - "TextMagic"
      summary: "Delete a Sender ID."
      operationId: "deleteSenderId"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$id = 1;\n\ntry {\n    $result = $api->deleteSenderId($id);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->deleteSenderId:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/subaccounts:
    get:
      tags:
      - "TextMagic"
      summary: "Get all subaccounts of current user."
      operationId: "getSubaccounts"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Subaccounts data returned with success"
          schema:
            $ref: "#/definitions/User"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when current user is not allowed to manage subaccounts"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$page = 1; // optional\n$limit = 10; // optional\n\ntry {\n    $result\
          \ = $api->getSubaccounts($page, $limit);\n    print_r($result);\n} catch\
          \ (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getSubaccounts:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
    post:
      tags:
      - "TextMagic"
      summary: "Invite new subaccount."
      operationId: "inviteSubaccount"
      produces: []
      parameters:
      - in: "body"
        name: "InviteSubaccountInputObject"
        required: true
        schema:
          $ref: "#/definitions/InviteSubaccountInputObject"
        x-exportParamName: "InviteSubaccountInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\InviteSubaccountInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new InviteSubaccountInputObject();\n$input->setEmail('user-example@example.com');\n\
          $input->setRole('U');\n\ntry {\n    $result = $api->inviteSubaccount($input);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->inviteSubaccount: ', $e->getMessage(), PHP_EOL;\n\
          }"
  /api/v2/subaccounts/tokens:
    post:
      tags:
      - "TextMagic"
      summary: "Request a new REST API token for subaccount."
      description: "Returning user object, key and app name."
      operationId: "requestNewSubaccountToken"
      parameters:
      - in: "body"
        name: "RequestNewSubaccountTokenInputObject"
        required: true
        schema:
          $ref: "#/definitions/RequestNewSubaccountTokenInputObject"
        x-exportParamName: "RequestNewSubaccountTokenInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "Created Subaccount data returned with success"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when user has no enough rights to perform this action"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\RequestNewSubaccountTokenInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new RequestNewSubaccountTokenInputObject();\n$input->setUserId(1);\n\
          $input->setPassword('strongPassword');\n$input->setAppName('sample app');\n\
          \ntry {\n    $result = $api->requestNewSubaccountToken($input);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->requestNewSubaccountToken:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/subaccounts/tokens/list:
    post:
      tags:
      - "TextMagic"
      summary: "Get all subaccounts with their REST API tokens associated with specified\
        \ app name."
      description: "When more than one token related to app name, last key will be\
        \ returned."
      operationId: "getSubaccountsWithTokens"
      parameters:
      - in: "body"
        name: "GetSubaccountsWithTokensInputObject"
        required: true
        schema:
          $ref: "#/definitions/GetSubaccountsWithTokensInputObject"
        x-exportParamName: "GetSubaccountsWithTokensInputObject"
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "number"
        default: 1.0
        x-exportParamName: "Page"
        x-optionalDataType: "Float32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetSubaccountsWithTokensResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when user has no enough rights to perform this action"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\GetSubaccountsWithTokensInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new GetSubaccountsWithTokensInputObject();\n$input->setAppName('sample\
          \ app');\n$input->setPassword('strongPassword');\n\n$page = 1; // optional\n\
          \n$limit = 10; // optional\n\ntry {\n    $result = $api->getSubaccountsWithTokens($input,\
          \ $page, $limit);\n    print_r($result);\n} catch (Exception $e) {\n   \
          \ echo 'Exception when calling TextMagicApi->getSubaccountsWithTokens: ',\
          \ $e->getMessage(), PHP_EOL;\n}"
  /api/v2/subaccounts/{id}:
    get:
      tags:
      - "TextMagic"
      summary: "Get a single subaccount."
      operationId: "getSubaccount"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Subaccount data returned with success"
          schema:
            $ref: "#/definitions/User"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when current user is not allowed to manage subaccounts"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$id = 1;\n\ntry {\n    $result = $api->getSubaccount($id);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getSubaccount:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
    delete:
      tags:
      - "TextMagic"
      summary: "Close subaccount."
      operationId: "closeSubaccount"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when current user is not allowed to manage subaccounts"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$id = 1;\n\ntry {\n    $result = $api->closeSubaccount($id);\n   \
          \ print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->closeSubaccount: ', $e->getMessage(), PHP_EOL;\n\
          }"
  /api/v2/user/notification/balance/bundles:
    get:
      tags:
      - "TextMagic"
      summary: "Returns the list of available balance options which can be used as\
        \ a bound to determine when to send email to user with low balance notification.\
        \ See https://my.textmagic.com/online/account/notifications/balance"
      operationId: "getBalanceNotificationOptions"
      parameters: []
      responses:
        200:
          description: "Returned when the list of available balance options have been\
            \ received with success"
          schema:
            $ref: "#/definitions/GetBalanceNotificationOptionsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getBalanceNotificationOptions();\n  \
          \  print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getBalanceNotificationOptions: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
  /api/v2/user/notification/balance:
    get:
      tags:
      - "TextMagic"
      summary: "Get balance notification settings"
      operationId: "getBalanceNotificationSettings"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetBalanceNotificationSettingsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getBalanceNotificationSettings();\n \
          \   print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getBalanceNotificationSettings: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
    put:
      tags:
      - "TextMagic"
      summary: "Update balance notification settings"
      operationId: "updateBalanceNotificationSettings"
      produces: []
      parameters:
      - in: "body"
        name: "UpdateBalanceNotificationSettingsInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateBalanceNotificationSettingsInputObject"
        x-exportParamName: "UpdateBalanceNotificationSettingsInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\UpdateBalanceNotificationSettingsInputObject;\nuse TextMagic\\Api\\\
          TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new UpdateBalanceNotificationSettingsInputObject();\n$input->setLowBalanceNotification(true);\n\
          $input->setAlertBalance('50');\n$input->setAlertPhone('15417543010');\n\
          $input->setAlertEmail1('test@test.com');\n$input->setAlertEmail2('test@test.com');\n\
          $input->setAlertEmail3('test@test.com');\n\ntry {\n    $result = $api->updateBalanceNotificationSettings($input);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->updateBalanceNotificationSettings: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
  /api/v2/user/notification/inbound:
    get:
      tags:
      - "TextMagic"
      summary: "Get inbound messages notification settings"
      operationId: "getInboundMessagesNotificationSettings"
      parameters: []
      responses:
        200:
          description: "Returned when success"
          schema:
            $ref: "#/definitions/GetInboundMessagesNotificationSettingsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getInboundMessagesNotificationSettings();\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getInboundMessagesNotificationSettings: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
    put:
      tags:
      - "TextMagic"
      summary: "Update inbound messages notification settings"
      operationId: "updateInboundMessagesNotificationSettings"
      produces: []
      parameters:
      - in: "body"
        name: "UpdateInboundMessagesNotificationSettingsInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateInboundMessagesNotificationSettingsInputObject"
        x-exportParamName: "UpdateInboundMessagesNotificationSettingsInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\UpdateInboundMessagesNotificationSettingsInputObject;\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new UpdateInboundMessagesNotificationSettingsInputObject();\n\
          $input->setInboundMessageNotification(true);\n$input->setIncludeSmsHistory(true);\n\
          $input->setSendInHtmlFormat(true);\n$input->setAlertEmail1('test@test.com');\n\
          $input->setAlertEmail2('test@test.com');\n$input->setAlertEmail3('test@test.com');\n\
          \ntry {\n    $result = $api->updateInboundMessagesNotificationSettings($input);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->updateInboundMessagesNotificationSettings: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
  /api/v2/user/desktop/notification:
    put:
      tags:
      - "TextMagic"
      summary: "Update chat desktop notification settings"
      operationId: "updateChatDesktopNotificationSettings"
      parameters:
      - in: "body"
        name: "UpdateChatDesktopNotificationSettingsInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateChatDesktopNotificationSettingsInputObject"
        x-exportParamName: "UpdateChatDesktopNotificationSettingsInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\UpdateChatDesktopNotificationSettingsInputObject;\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new UpdateChatDesktopNotificationSettingsInputObject();\n\
          $input->setPlaySound(false);\n$input->setShowNotifications(false);\n$input->setShowText(true);\n\
          $input->setSoundId(1);\n\ntry {\n    $result = $api->updateChatDesktopNotificationSettings($input);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->updateChatDesktopNotificationSettings: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
  /api/v2/callback/settings:
    get:
      tags:
      - "TextMagic"
      summary: "Fetch callback URL settings"
      operationId: "getCallbackSettings"
      parameters: []
      responses:
        200:
          description: "Callback settings has been returned with success"
          schema:
            $ref: "#/definitions/GetCallbackSettingsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getCallbackSettings();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getCallbackSettings:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
    put:
      tags:
      - "TextMagic"
      summary: "Update callback URL settings"
      operationId: "updateCallbackSettings"
      parameters:
      - in: "body"
        name: "UpdateCallbackSettingsInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateCallbackSettingsInputObject"
        x-exportParamName: "UpdateCallbackSettingsInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\UpdateCallbackSettingsInputObject;\nuse TextMagic\\Api\\TextMagicApi;\n\
          use TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new UpdateCallbackSettingsInputObject();\n$input->setOutUrl('http://www.mysite.com/delivery-callback.php');\n\
          $input->setInUrl('http://www.mysite.com/incoming-sms-callback.php');\n$input->setFormat('undefined');\n\
          \ntry {\n    $result = $api->updateCallbackSettings($input);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->updateCallbackSettings:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/calls/price:
    get:
      tags:
      - "TextMagic"
      summary: "Check pricing for a inbound/outbound call."
      operationId: "getCallsPrices"
      parameters: []
      responses:
        200:
          description: "Pricing data has been returned with success"
          schema:
            type: "object"
            example:
              GF:
                outbound: "0.197"
                inbound: "0.016388"
                forward: "0.197"
              KN:
                outbound: "0.231"
                inbound: "0.016388"
                forward: "0.231"
              SX:
                outbound: "0.204"
                inbound: "0.016388"
                forward: "0.204"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n\ntry {\n    $result = $api->getCallsPrices();\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getCallsPrices:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/contacts/autocomplete:
    get:
      tags:
      - "TextMagic"
      summary: "Get contacts autocomplete suggestions by given search term."
      operationId: "getContactsAutocomplete"
      parameters:
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "query"
        in: "query"
        description: "Find recipients by specified search query"
        required: true
        type: "string"
        x-example: "A"
        x-exportParamName: "Query"
      - name: "lists"
        in: "query"
        description: "Should lists be returned or not"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Lists"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Autocomplete data has been returned with success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GetContactsAutocompleteResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$query = 'A';\n$limit = 10; // optional\n$lists = 0; // optional\n\
          \ntry {\n    $result = $api->getContactsAutocomplete($query, $limit, $lists);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getContactsAutocomplete: ', $e->getMessage(), PHP_EOL;\n\
          }"
  /api/v2/contacts/favorite:
    get:
      tags:
      - "TextMagic"
      summary: "Get favorite contacts and lists."
      operationId: "getFavourites"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "query"
        in: "query"
        description: "Find contacts or lists by specified search query"
        required: false
        type: "string"
        default: "A"
        x-exportParamName: "Query"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Favourites entities have been returned with success"
          schema:
            $ref: "#/definitions/GetFavouritesResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$page = 1; // optional\n$limit = 10; // optional\n$query = 'A'; //\
          \ optional\n\ntry {\n    $result = $api->getFavourites($page, $limit, $query);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getFavourites: ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/contacts/search:
    get:
      tags:
      - "TextMagic"
      summary: "Find user contacts by given parameters."
      operationId: "searchContacts"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "shared"
        in: "query"
        description: "Should shared contacts to be included"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Shared"
        x-optionalDataType: "Int32"
      - name: "ids"
        in: "query"
        description: "Find contact by ID(s)"
        required: false
        type: "string"
        pattern: "[,\\d]+"
        x-exportParamName: "Ids"
        x-optionalDataType: "String"
      - name: "listId"
        in: "query"
        description: "Find contact by List ID"
        required: false
        type: "integer"
        x-exportParamName: "ListId"
        x-optionalDataType: "Int32"
      - name: "includeBlocked"
        in: "query"
        description: "Should blocked contacts to be included"
        required: false
        type: "integer"
        enum:
        - 0
        - 1
        x-exportParamName: "IncludeBlocked"
        x-optionalDataType: "Int32"
      - name: "query"
        in: "query"
        description: "Find contacts by specified search query"
        required: false
        type: "string"
        x-exportParamName: "Query"
        x-optionalDataType: "String"
      - name: "local"
        in: "query"
        description: "Treat phone number passed in 'query' field as local. Default\
          \ is 0"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Local"
        x-optionalDataType: "Int32"
      - name: "country"
        in: "query"
        description: "2-letter ISO country code for local phone numbers, used when\
          \ 'local' is set to true. Default is account country"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      - name: "orderBy"
        in: "query"
        description: "Order results by some field. Default is id"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "firstName"
        - "lastName"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "Order direction. Default is desc"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Found contacts have been returned with success"
          schema:
            $ref: "#/definitions/SearchContactsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$page = 1; // optional\n$limit = 10; // optional\n$shared = 0; //\
          \ optional\n$ids = 'sampleValue'; // optional\n$listId = 1; // optional\n\
          $includeBlocked = 1; // optional\n$query = 'sampleValue'; // optional\n\
          $local = 0; // optional\n$country = 'sampleValue'; // optional\n$orderBy\
          \ = 'id'; // optional\n$direction = 'desc'; // optional\n\ntry {\n    $result\
          \ = $api->searchContacts($page, $limit, $shared, $ids, $listId, $includeBlocked,\
          \ $query, $local, $country, $orderBy, $direction);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->searchContacts:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/contacts/phone/{phone}:
    get:
      tags:
      - "TextMagic"
      summary: "Get a single contact by phone number."
      operationId: "getContactByPhone"
      parameters:
      - name: "phone"
        in: "path"
        required: true
        type: "string"
        default: "+23058300573"
        x-exportParamName: "Phone"
      responses:
        200:
          description: "Contact data has been returned with success"
          schema:
            $ref: "#/definitions/Contact"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$phone = '+23058300573';\n\ntry {\n    $result = $api->getContactByPhone($phone);\n\
          \    print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->getContactByPhone: ', $e->getMessage(), PHP_EOL;\n\
          }"
  /api/v2/contacts:
    get:
      tags:
      - "TextMagic"
      summary: "Get all user contacts."
      operationId: "getContacts"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "shared"
        in: "query"
        description: "Should shared contacts to be included"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Shared"
        x-optionalDataType: "Int32"
      - name: "orderBy"
        in: "query"
        description: "Order results by some field. Default is id"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "firstName"
        - "lastName"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "Order direction. Default is desc"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Requested contacts have been returned with success"
          schema:
            $ref: "#/definitions/GetContactsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$page = 1; // optional\n$limit = 10; // optional\n$shared = 0; //\
          \ optional\n$orderBy = 'id'; // optional\n$direction = 'desc'; // optional\n\
          \ntry {\n    $result = $api->getContacts($page, $limit, $shared, $orderBy,\
          \ $direction);\n    print_r($result);\n} catch (Exception $e) {\n    echo\
          \ 'Exception when calling TextMagicApi->getContacts: ', $e->getMessage(),\
          \ PHP_EOL;\n}"
    post:
      tags:
      - "TextMagic"
      summary: "Create a new contact from the submitted data."
      operationId: "createContact"
      parameters:
      - in: "body"
        name: "CreateContactInputObject"
        required: true
        schema:
          $ref: "#/definitions/CreateContactInputObject"
        x-exportParamName: "CreateContactInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Contact has been created with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\CreateContactInputObject;\nuse TextMagic\\Api\\TextMagicApi;\nuse\
          \ TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new CreateContactInputObject();\n$input->setFirstName('Example\
          \ first name');\n$input->setLastName('Example first name');\n$input->setPhone('+23058300573');\n\
          $input->setEmail('test@test.com');\n$input->setCompanyName('My pretty company');\n\
          $input->setLists('1,2,3,4');\n$input->setFavorited(false);\n$input->setBlocked(false);\n\
          $input->setType(1);\n$input->setLocal(0);\n$input->setCountry('US');\n\n\
          try {\n    $result = $api->createContact($input);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->createContact:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
  /api/v2/contacts/{id}:
    get:
      tags:
      - "TextMagic"
      summary: "Get a single contact."
      operationId: "getContact"
      parameters:
      - name: "id"
        in: "path"
        description: "The contact id"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Contact data received with success"
          schema:
            $ref: "#/definitions/Contact"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Api\\TextMagicApi;\nuse TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$id = 1;\n\ntry {\n    $result = $api->getContact($id);\n    print_r($result);\n\
          } catch (Exception $e) {\n    echo 'Exception when calling TextMagicApi->getContact:\
          \ ', $e->getMessage(), PHP_EOL;\n}"
    put:
      tags:
      - "TextMagic"
      summary: "Update existing contact."
      operationId: "updateContact"
      parameters:
      - in: "body"
        name: "UpdateContactInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateContactInputObject"
        x-exportParamName: "UpdateContactInputObject"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Contact has been created with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\nuse TextMagic\\\
          Models\\UpdateContactInputObject;\nuse TextMagic\\Api\\TextMagicApi;\nuse\
          \ TextMagic\\Configuration;\n\n$config = Configuration::getDefaultConfiguration()\n\
          \    ->setUsername('YOUR_USERNAME')\n    ->setPassword('YOUR_PASSWORD');\n\
          \n$api = new TextMagicApi(\n    new GuzzleHttp\\Client(),\n    $config\n\
          );\n\n$input = new UpdateContactInputObject();\n$input->setFirstName('Example\
          \ first name');\n$input->setLastName('Example first name');\n$input->setPhone('+23058300573');\n\
          $input->setEmail('test@test.com');\n$input->setCompanyName('My pretty company');\n\
          $input->setLists('1,2,3,4');\n$input->setFavorited(false);\n$input->setBlocked(false);\n\
          $input->setType(1);\n$input->setLocal(0);\n$input->setCountry('US');\n\n\
          $id = 1;\n\ntry {\n    $result = $api->updateContact($input, $id);\n   \
          \ print_r($result);\n} catch (Exception $e) {\n    echo 'Exception when\
          \ calling TextMagicApi->updateContact: ', $e->getMessage(), PHP_EOL;\n}"
    delete:
      tags:
      - "TextMagic"
      summary: "Delete a single contact."
      operationId: "deleteContact"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
[...]
