---
swagger: "2.0"
info:
  description: "# Overview\n## Introduction\ntest\n<img style=\"float: right; margin-left:\
    \ 10px; width: 100px;\" src=\"images/phone.png\">\nTextMagic SMS API is a platform\
    \ for building your own messaging app using our messaging infrastructure.\nIt\
    \ allows you to send and receive SMS text messages, query information about inbound\
    \ and outbound messages,\nmanage contacts, create templates (i.e. message formats\
    \ and static texts) and schedule recurrent SMS\nmessages as well as process bulk\
    \ SMS messages.\n<button name=\"button\" onclick=\"http://www.google.com\" class=\"\
    btn\">Try TextMagic API for Free</button>\n\n### Two Ways to Use TextMagic API\n\
    * [REST API](https://www.textmagic.com/docs/api/start/) – get full access to TextMagic’\
    s messaging gateway features\n* [Email to SMS API](https://www.textmagic.com/docs/api/send-email-to-sms/)\
    \ – set up two-way SMS communication without the need to write any additional\
    \ code\n\n### Code Libraries\nWe have created a set of client libraries for the\
    \ most popular programming languages (such as REST API Java and REST\nAPI PHP).\
    \ These libraries allow you to integrate our API into your code in minutes. Just\
    \ choose your preferred language\nto get started:\n\n## Getting started\nGet Started\
    \ with the TextMagic REST API\nTo start sending text messages using the TextMagic\
    \ REST API, just follow these steps:\n1. Generate the API credentials\n1. Connect\
    \ to our API endpoint\nThis page provides all the information you need to get\
    \ started. Here, we explain the following steps:\n\nHow to obtain the API credentials\n\
    The API endpoint\nHow the REST API works\nThe next step\nHow to obtain the API\
    \ credentials\n\n### How to obtain the API credentials\nTo start sending text\
    \ messages, you need to create an API key. API keys are similar to an account\
    \ password; the difference is that an API key only provides access to the API:\
    \ you cannot log in to TextMagic Online using the API key.\n\nYour program sends\
    \ the login credentials with each API request as HTTP headers: `X-TM-Username`\
    \ is your TextMagic username, while `X-TM-Key` is your API key.\n\nHow to obtain\
    \ an API key:\n\n1. Log in to TextMagic (or start a free trial if you haven’t\
    \ registered yet).\n1. Go to the API settings page.\n1. Click the Add new API\
    \ key button.\n1. Enter an app name for this key. Note, it’s just a label, so\
    \ pick any name.\n1. Click Generate new key.\n1. You should now see your new API\
    \ key in the green notification banner above the table:\n\n![alt text](images/credentials.png)\n\
    \n> Note for API v1 users\n> V1 keys are not compatible with the V2 version of\
    \ the TextMagic REST API, so you will need to generate a new API key to use the\
    \ V2 endpoint.\n\n### The API endpoint\nThe TextMagic REST API endpoint is:\n\
    ```\nhttps://rest.textmagic.com/api/v2\n```\nAll the URLs referenced in this documentation\
    \ should use this base URL.\n\n### How the REST API works\nREST APIs use the HTTP\
    \ protocol to send and receive messages. REST messages are usually encoded as\
    \ JSON documents and are an improvement over older methods such as the XML based\
    \ SOAP protocol. REST APIs use the same set of methods that web browsers use:\
    \ POST, GET, PUT or DELETE. These correspond to the CRUD operations: create, read,\
    \ update and delete. Often, REST URIs provide direct CRUD access to entities or\
    \ collections of entities, for example: http://api.foo.com/people. In this instance,\
    \ to delete a person’s endpoint, you might simply call the endpoint DELETE http://api.foo.com/people/{id}.\
    \ REST makes these types of operations simple.\n\n> Example\n>\n> Let’s take the\
    \ entity most often used in messaging: contacts. Imagine you want to perform operations\
    \ on your contacts list: well, it’s only a matter of calling the following endpoints:\n\
    > * GET /api/v2/contacts (get all of your contacts)\n> * GET /api/v2/contacts/{id}\
    \ (get a specific contact)\n> * POST /api/v2/contacts (create a new contact)\n\
    > * PUT /api/v2/contacts/{id} (update an existing contact)\n> * DELETE /api/v2/contacts/{id}\
    \ (delete an existing contact)\nIt’s that simple! In fact, that’s all you need\
    \ to do to manage the contacts in your TextMagic account!\n\n## Sandbox\nSandbox\
    \ is a tool to test TextMagic REST API requests without the need to install any\
    \ applications or write any code.\nHere, we explain the following details about\
    \ Sandbox:\n* The credentials area\n* Command documentation\n* How it works\n\n\
    <a href=\"\">Go to TextMagic Sandbox</a>\n\n### The credentials area\nTo make\
    \ requests using your TextMagic account, you need to enter your account username\
    \ and your API key into\nthe corresponding fields. You may also Save them in your\
    \ browser or press Clear to erase them.\n\n![alt text](images/sandbox.png)\n"
  version: "2"
  title: "TextMagic API Documentation"
  termsOfService: "http://swagger.io/terms/"
  contact:
    name: "API Support"
    url: "http://docs.textmagictesting.com/"
    email: "support@textmagi.biz"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "https://www.textmagic.com/wp-content/themes/textmagic-genesis/assets/vendor/textmagic/marketing/css/../images/logo/logo.svg"
    altText: "TextMagic"
host: "my.textmagic.com"
tags:
- name: "Outbound Messages"
  description: "### How to send a single text message\n\nTo send a simple text message\
    \ to one recipient, you should set only the `text` and the `phones` parameters.\
    \ `text` should\ncontain that desired text and `phones` should be set to the recipient’\
    s international phone number.\n\nFor example, to send an SMS message with the\
    \ text “I love TextMagic” to the phone number +44 (0) 7 860021130, use the command:\n\
    \n> POST https://rest.textmagic.com/api/v2/messages\n\nwith the following parameters:\n\
    \n| Parameter | Value |\n| --------- | ----- |\n| text |I love TextMagic (don’\
    t forget to urlencode your string!) |\n| phones | 447860021130 |\n\nYou will receive\
    \ a result like this:\n\n| Parameter | Example |\n| --------- | ------- |\n| id\
    \ | 49576009 |\n| href | /api/v2/messages/49576009 |\n| type | message |\n| sessionId\
    \ | 34436600 |\n| bulkId | null |\n| messageId | 49576009 |\n| scheduleId | null\
    \ |\n\nAs long as you have sent a message to at least one recipient, the TextMagic\
    \ API will return not only the session ID,\nbut also the single message ID. Also,\
    \ you can watch for the delivery status changes using this ID without\nfetching\
    \ session messages first. Since this is not a bulk session or scheduled message,\n\
    `bulkId` and `scheduleId` are null.\n\n### How to send bulk text messages\nTODO\n\
    \n### Sending more than 1,000 messages in one session\nTODO\n\n### How to send\
    \ a text message with an attachment\nTODO\n\n### Delivery status callback\n"
  x-displayName: "Outgoing messages\n"
schemes:
- "http"
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- BasicAuth: []
paths:
  /api/v2/auth:
    post:
      tags:
      - "Authentication"
      summary: "Authenticate user by given username and password."
      description: "Returning a username and token that you should pass to the all\
        \ requests (in X-TM-Username and X-TM-Key, respectively)"
      operationId: "doAuth"
      parameters:
      - in: "body"
        name: "DoAuthInputObject"
        required: true
        schema:
          $ref: "#/definitions/DoAuthInputObject"
        x-exportParamName: "DoAuthInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/DoAuthResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
      security: []
      x-code-samples:
      - lang: "PHP"
        source: "require_once(__DIR__ . '/vendor/autoload.php');\n\n$apiInstance =\
          \ new TextMagic\\Api\\TextMagicApi(\n    // If you want use custom http\
          \ client, pass your client which implements `GuzzleHttp\\ClientInterface`.\n\
          \    // This is optional, `GuzzleHttp\\Client` will be used as default.\n\
          \    new GuzzleHttp\\Client()\n);\n$doAuthInputObject = new \\TextMagic\\\
          Models\\DoAuthInputObject(); // \\TextMagic\\Models\\DoAuthInputObject |\n\
          $xIgnoreNullValues = true; // bool |\n\ntry {\n    $result = $apiInstance->doAuth($doAuthInputObject,\
          \ $xIgnoreNullValues);\n    print_r($result);\n} catch (Exception $e) {\n\
          \    echo 'Exception when calling TextMagicApi->doAuth: ', $e->getMessage(),\
          \ PHP_EOL;\n}\n"
  /api/v2/timezones:
    get:
      tags:
      - "Common"
      summary: "Return all available timezone IDs."
      operationId: "getTimezones"
      parameters:
      - name: "full"
        in: "query"
        description: "Return full info about timezones in array (0 or 1). Default\
          \ is 0"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Full"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "object"
            example:
            - id: 3
              name: "(UTC -11:00): Pacific/Samoa"
              offset: -39600
              timezone: "Pacific/Samoa"
            - id: 2
              name: "(UTC -11:00): Pacific/Midway"
              offset: -39600
              timezone: "Pacific/Midway"
            - id: 4
              name: "(UTC -10:00): Pacific/Tahiti"
              offset: -36000
              timezone: "Pacific/Tahiti"
            - id: 5
              name: "(UTC -10:00): Pacific/Honolulu"
              offset: -36000
              timezone: "Pacific/Honolulu"
            - id: 6
              name: "(UTC -09:30): Pacific/Marquesas"
              offset: -34200
              timezone: "Pacific/Marquesas"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/ping:
    get:
      tags:
      - "Common"
      summary: "Just does a pong."
      operationId: "ping"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/PingResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/user/disallowed-rules:
    get:
      tags:
      - "User"
      summary: "Get an array of all rules that are disallowed to the current account."
      operationId: "getDisallowedRules"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "array"
            items:
              type: "string"
            example:
            - "SEND_MESSAGES"
            - "MAKE_CALLS"
            - "EMAIL_LOOKUP"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/push/tokens:
    get:
      tags:
      - "Integration"
      summary: "Get all device tokens assigned to the current account"
      operationId: "getPushTokens"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetPushTokensResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    post:
      tags:
      - "Integration"
      summary: "Add or update a device token."
      operationId: "createPushToken"
      parameters:
      - in: "body"
        name: "CreatePushTokenInputObject"
        required: true
        schema:
          $ref: "#/definitions/CreatePushTokenInputObject"
        x-exportParamName: "CreatePushTokenInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Returned when created with success."
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/push/tokens/{type}/{deviceId}:
    delete:
      tags:
      - "Integration"
      summary: "Delete a push notification device token."
      operationId: "deletePushToken"
      produces: []
      parameters:
      - name: "type"
        in: "path"
        required: true
        type: "string"
        default: "a"
        x-exportParamName: "Type_"
      - name: "deviceId"
        in: "path"
        required: true
        type: "integer"
        default: 123
        x-exportParamName: "DeviceId"
      responses:
        204:
          description: "Returned when deleted with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/state:
    get:
      tags:
      - "Common"
      summary: "Get current entities state"
      operationId: "getState"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetStateResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/versions:
    get:
      tags:
      - "Common"
      summary: "Get minimal valid apps versions"
      operationId: "getVersions"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetVersionsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/lookups/{phone}:
    get:
      tags:
      - "Tools"
      summary: "Carrier Lookup"
      operationId: "doCarrierLookup"
      parameters:
      - name: "phone"
        in: "path"
        required: true
        type: "string"
        x-example: "1-541-754-3010"
        x-exportParamName: "Phone"
      - name: "country"
        in: "query"
        description: "Country code for local formatted numbers"
        required: false
        type: "string"
        default: "US"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/DoCarrierLookupResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        429:
          description: "Returned when number of queries per second too much"
  /api/v2/countries:
    get:
      tags:
      - "Common"
      summary: "Return list of countries."
      operationId: "getCountries"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Country"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/user:
    get:
      tags:
      - "User"
      summary: "Get current user info."
      operationId: "getCurrentUser"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    put:
      tags:
      - "User"
      summary: "Update current user info."
      operationId: "updateCurrentUser"
      parameters:
      - in: "body"
        name: "UpdateCurrentUserInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateCurrentUserInputObject"
        x-exportParamName: "UpdateCurrentUserInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Updated with success"
          schema:
            $ref: "#/definitions/UpdateCurrentUserResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/user/avatar:
    post:
      tags:
      - "User"
      summary: "Add an avatar for the current user."
      operationId: "uploadAvatar"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "image"
        in: "formData"
        description: "User avatar. Should be PNG or JPG file not more than 10 MB"
        required: true
        type: "file"
        format: "binary"
        x-exportParamName: "Image"
      responses:
        201:
          description: "Returned when successful"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    delete:
      tags:
      - "User"
      summary: "Delete an avatar for the current user.\\"
      operationId: "deleteAvatar"
      produces: []
      parameters: []
      responses:
        204:
          description: "Avatar has been deleted with success"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/user/phone/verification:
    get:
      tags:
      - "Authentication"
      summary: "Send user phone verification"
      operationId: "sendPhoneVerificationCode"
      parameters: []
      responses:
        200:
          description: "Verification SMS has been sent"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    put:
      tags:
      - "Authentication"
      summary: "Check user phone verification code"
      operationId: "checkPhoneVerificationCode"
      parameters:
      - in: "body"
        name: "CheckPhoneVerificationCodeInputObject"
        required: true
        schema:
          $ref: "#/definitions/CheckPhoneVerificationCodeInputObject"
        x-exportParamName: "CheckPhoneVerificationCodeInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          description: "Verification code has been approved with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/user/email/verification:
    get:
      tags:
      - "Authentication"
      summary: "Send user email verification"
      operationId: "sendEmailVerificationCode"
      parameters: []
      responses:
        200:
          description: "Verification Email has been sent"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/user/password/change:
    put:
      tags:
      - "Authentication"
      summary: "Change user password."
      operationId: "updatePassword"
      produces: []
      parameters:
      - in: "body"
        name: "UpdatePasswordInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdatePasswordInputObject"
        x-exportParamName: "UpdatePasswordInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          description: "Password has been updated with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/sources:
    get:
      tags:
      - "User Settings"
      summary: "Get all available sender setting options which could be used in \"\
        from\" parameter of POST messages method."
      operationId: "getAvailableSenderSettingOptions"
      parameters:
      - name: "country"
        in: "query"
        description: "Return sender setting options available in specific country\
          \ only. Two upper case characters"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Available sender setting options returned with success"
          schema:
            $ref: "#/definitions/GetAvailableSenderSettingOptionsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/sender/settings:
    get:
      tags:
      - "Numbers"
      summary: "Get current user sender settings."
      operationId: "getSenderSettings"
      parameters:
      - name: "country"
        in: "query"
        description: "Return sender settings enabled for sending to specified country.\
          \ Two upper case characters"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Sender settings returned with success"
          schema:
            $ref: "#/definitions/GetSenderSettingsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    put:
      tags:
      - "Numbers"
      summary: "Change sender settings for specified country."
      operationId: "updateSenderSetting"
      produces: []
      parameters:
      - in: "body"
        name: "UpdateSenderSettingInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateSenderSettingInputObject"
        x-exportParamName: "UpdateSenderSettingInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          description: "Sender settings have been updated with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/numbers:
    get:
      tags:
      - "Numbers"
      summary: "Get user's dedicated numbers."
      operationId: "getUserDedicatedNumbers"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "surveyId"
        in: "query"
        description: "Fetch only that numbers which are ready for the survey"
        required: false
        type: "integer"
        x-exportParamName: "SurveyId"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Requested data returned with success"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/UsersInbound"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    post:
      tags:
      - "Numbers"
      summary: "Buy a dedicated number and assign it to the specified account."
      operationId: "buyDedicatedNumber"
      parameters:
      - in: "body"
        name: "BuyDedicatedNumberInputObject"
        required: true
        schema:
          $ref: "#/definitions/BuyDedicatedNumberInputObject"
        x-exportParamName: "BuyDedicatedNumberInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Number has been bought with success"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/numbers/available:
    get:
      tags:
      - "Numbers"
      summary: "Find available dedicated numbers to buy."
      operationId: "getAvailableDedicatedNumbers"
      parameters:
      - name: "prefix"
        in: "query"
        description: "Desired number prefix. Should include country code (i.e. 447\
          \ for GB). In case provide tollfree = 1 parameter and there are available\
          \ tollfree numbers, this parameter will be ignore."
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Prefix"
        x-optionalDataType: "Int32"
      - name: "tollfree"
        in: "query"
        description: "Should we show only tollfree numbers (tollfree available only\
          \ for US). Default is false."
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Tollfree"
        x-optionalDataType: "Int32"
      - name: "country"
        in: "query"
        description: "Dedicated number country. Two letters in upper case"
        required: true
        type: "string"
        x-example: "GB"
        x-exportParamName: "Country"
      responses:
        200:
          description: "The list of available to buy dedicated numbers"
          schema:
            $ref: "#/definitions/GetAvailableDedicatedNumbersResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/numbers/{id}:
    get:
      tags:
      - "Numbers"
      summary: "Get a single dedicated number."
      operationId: "getDedicatedNumber"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Requested dedicated number data returned with success"
          schema:
            $ref: "#/definitions/UsersInbound"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    delete:
      tags:
      - "Numbers"
      summary: "Cancel dedicated number subscription."
      operationId: "deleteDedicatedNumber"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        204:
          description: "Dedicated number has been deleted with success"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/senderids:
    get:
      tags:
      - "Numbers"
      summary: "Get all sender IDs of current user."
      operationId: "getSenderIds"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Sender ids of current user returned with success"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/SenderId"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    post:
      tags:
      - "Numbers"
      summary: "Request for a new Sender ID."
      operationId: "requestSenderId"
      parameters:
      - in: "body"
        name: "RequestSenderIdInputObject"
        required: true
        schema:
          $ref: "#/definitions/RequestSenderIdInputObject"
        x-exportParamName: "RequestSenderIdInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Sender ID request has been created with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/senderids/{id}:
    get:
      tags:
      - "Numbers"
      summary: "Get a single Sender ID."
      operationId: "getSenderId"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Sender Id data returned with success"
          schema:
            $ref: "#/definitions/SenderId"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    delete:
      tags:
      - "Numbers"
      summary: "Delete a Sender ID."
      operationId: "deleteSenderId"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/subaccounts:
    get:
      tags:
      - "User Subaccounts"
      summary: "Get all subaccounts of current user."
      operationId: "getSubaccounts"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Subaccounts data returned with success"
          schema:
            $ref: "#/definitions/User"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when current user is not allowed to manage subaccounts"
    post:
      tags:
      - "User Subaccounts"
      summary: "Invite new subaccount."
      operationId: "inviteSubaccount"
      produces: []
      parameters:
      - in: "body"
        name: "InviteSubaccountInputObject"
        required: true
        schema:
          $ref: "#/definitions/InviteSubaccountInputObject"
        x-exportParamName: "InviteSubaccountInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/subaccounts/tokens:
    post:
      tags:
      - "User Subaccounts"
      summary: "Request a new REST API token for subaccount."
      description: "Returning user object, key and app name."
      operationId: "requestNewSubaccountToken"
      parameters:
      - in: "body"
        name: "RequestNewSubaccountTokenInputObject"
        required: true
        schema:
          $ref: "#/definitions/RequestNewSubaccountTokenInputObject"
        x-exportParamName: "RequestNewSubaccountTokenInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "Created Subaccount data returned with success"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when user has no enough rights to perform this action"
  /api/v2/subaccounts/tokens/list:
    post:
      tags:
      - "User Subaccounts"
      summary: "Get all subaccounts with their REST API tokens associated with specified\
        \ app name."
      description: "When more than one token related to app name, last key will be\
        \ returned."
      operationId: "getSubaccountsWithTokens"
      parameters:
      - in: "body"
        name: "GetSubaccountsWithTokensInputObject"
        required: true
        schema:
          $ref: "#/definitions/GetSubaccountsWithTokensInputObject"
        x-exportParamName: "GetSubaccountsWithTokensInputObject"
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "number"
        default: 1.0
        x-exportParamName: "Page"
        x-optionalDataType: "Float32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetSubaccountsWithTokensResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when user has no enough rights to perform this action"
  /api/v2/subaccounts/{id}:
    get:
      tags:
      - "User Subaccounts"
      summary: "Get a single subaccount."
      operationId: "getSubaccount"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Subaccount data returned with success"
          schema:
            $ref: "#/definitions/User"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when current user is not allowed to manage subaccounts"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    delete:
      tags:
      - "User Subaccounts"
      summary: "Close subaccount."
      operationId: "closeSubaccount"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when current user is not allowed to manage subaccounts"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/user/notification/balance/bundles:
    get:
      tags:
      - "User Settings"
      summary: "Returns the list of available balance options which can be used as\
        \ a bound to determine when to send email to user with low balance notification.\
        \ See https://my.textmagic.com/online/account/notifications/balance"
      operationId: "getBalanceNotificationOptions"
      parameters: []
      responses:
        200:
          description: "Returned when the list of available balance options have been\
            \ received with success"
          schema:
            $ref: "#/definitions/GetBalanceNotificationOptionsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/user/notification/balance:
    get:
      tags:
      - "User Settings"
      summary: "Get balance notification settings"
      operationId: "getBalanceNotificationSettings"
      parameters: []
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetBalanceNotificationSettingsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    put:
      tags:
      - "User Settings"
      summary: "Update balance notification settings"
      operationId: "updateBalanceNotificationSettings"
      produces: []
      parameters:
      - in: "body"
        name: "UpdateBalanceNotificationSettingsInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateBalanceNotificationSettingsInputObject"
        x-exportParamName: "UpdateBalanceNotificationSettingsInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/user/notification/inbound:
    get:
      tags:
      - "User Settings"
      summary: "Get inbound messages notification settings"
      operationId: "getInboundMessagesNotificationSettings"
      parameters: []
      responses:
        200:
          description: "Returned when success"
          schema:
            $ref: "#/definitions/GetInboundMessagesNotificationSettingsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    put:
      tags:
      - "User Settings"
      summary: "Update inbound messages notification settings"
      operationId: "updateInboundMessagesNotificationSettings"
      produces: []
      parameters:
      - in: "body"
        name: "UpdateInboundMessagesNotificationSettingsInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateInboundMessagesNotificationSettingsInputObject"
        x-exportParamName: "UpdateInboundMessagesNotificationSettingsInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/user/desktop/notification:
    put:
      tags:
      - "User Settings"
      summary: "Update chat desktop notification settings"
      operationId: "updateChatDesktopNotificationSettings"
      parameters:
      - in: "body"
        name: "UpdateChatDesktopNotificationSettingsInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateChatDesktopNotificationSettingsInputObject"
        x-exportParamName: "UpdateChatDesktopNotificationSettingsInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/callback/settings:
    get:
      tags:
      - "User Settings"
      summary: "Fetch callback URL settings"
      operationId: "getCallbackSettings"
      parameters: []
      responses:
        200:
          description: "Callback settings has been returned with success"
          schema:
            $ref: "#/definitions/GetCallbackSettingsResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    put:
      tags:
      - "User Settings"
      summary: "Update callback URL settings"
      operationId: "updateCallbackSettings"
      parameters:
      - in: "body"
        name: "UpdateCallbackSettingsInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateCallbackSettingsInputObject"
        x-exportParamName: "UpdateCallbackSettingsInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        200:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/calls/price:
    get:
      tags:
      - "Calls"
      summary: "Check pricing for a inbound/outbound call."
      operationId: "getCallsPrices"
      parameters: []
      responses:
        200:
          description: "Pricing data has been returned with success"
          schema:
            type: "object"
            example:
              GF:
                outbound: "0.197"
                inbound: "0.016388"
                forward: "0.197"
              KN:
                outbound: "0.231"
                inbound: "0.016388"
                forward: "0.231"
              SX:
                outbound: "0.204"
                inbound: "0.016388"
                forward: "0.204"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/contacts/autocomplete:
    get:
      tags:
      - "Contacts"
      summary: "Get contacts autocomplete suggestions by given search term."
      operationId: "getContactsAutocomplete"
      parameters:
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "query"
        in: "query"
        description: "Find recipients by specified search query"
        required: true
        type: "string"
        x-example: "A"
        x-exportParamName: "Query"
      - name: "lists"
        in: "query"
        description: "Should lists be returned or not"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Lists"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Autocomplete data has been returned with success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GetContactsAutocompleteResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/contacts/favorite:
    get:
      tags:
      - "Contacts"
      summary: "Get favorite contacts and lists."
      operationId: "getFavourites"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "query"
        in: "query"
        description: "Find contacts or lists by specified search query"
        required: false
        type: "string"
        default: "A"
        x-exportParamName: "Query"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Favourites entities have been returned with success"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/FavoriteContact"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/contacts/search:
    get:
      tags:
      - "Contacts"
      summary: "Find user contacts by given parameters."
      operationId: "searchContacts"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "shared"
        in: "query"
        description: "Should shared contacts to be included"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Shared"
        x-optionalDataType: "Int32"
      - name: "ids"
        in: "query"
        description: "Find contact by ID(s)"
        required: false
        type: "string"
        pattern: "[,\\d]+"
        x-exportParamName: "Ids"
        x-optionalDataType: "String"
      - name: "listId"
        in: "query"
        description: "Find contact by List ID"
        required: false
        type: "integer"
        x-exportParamName: "ListId"
        x-optionalDataType: "Int32"
      - name: "includeBlocked"
        in: "query"
        description: "Should blocked contacts to be included"
        required: false
        type: "integer"
        enum:
        - 0
        - 1
        x-exportParamName: "IncludeBlocked"
        x-optionalDataType: "Int32"
      - name: "query"
        in: "query"
        description: "Find contacts by specified search query"
        required: false
        type: "string"
        x-exportParamName: "Query"
        x-optionalDataType: "String"
      - name: "local"
        in: "query"
        description: "Treat phone number passed in 'query' field as local. Default\
          \ is 0"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Local"
        x-optionalDataType: "Int32"
      - name: "country"
        in: "query"
        description: "2-letter ISO country code for local phone numbers, used when\
          \ 'local' is set to true. Default is account country"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      - name: "orderBy"
        in: "query"
        description: "Order results by some field. Default is id"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "firstName"
        - "lastName"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "Order direction. Default is desc"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Found contacts have been returned with success"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/Contact"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/contacts/phone/{phone}:
    get:
      tags:
      - "Contacts"
      summary: "Get a single contact by phone number."
      operationId: "getContactByPhone"
      parameters:
      - name: "phone"
        in: "path"
        required: true
        type: "string"
        default: "+23058300573"
        x-exportParamName: "Phone"
      responses:
        200:
          description: "Contact data has been returned with success"
          schema:
            $ref: "#/definitions/Contact"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts:
    get:
      tags:
      - "Contacts"
      summary: "Get all user contacts."
      operationId: "getContacts"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "shared"
        in: "query"
        description: "Should shared contacts to be included"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "Shared"
        x-optionalDataType: "Int32"
      - name: "orderBy"
        in: "query"
        description: "Order results by some field. Default is id"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "firstName"
        - "lastName"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "Order direction. Default is desc"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Requested contacts have been returned with success"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/Contact"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    post:
      tags:
      - "Contacts"
      summary: "Create a new contact from the submitted data."
      operationId: "createContact"
      parameters:
      - in: "body"
        name: "CreateContactInputObject"
        required: true
        schema:
          $ref: "#/definitions/CreateContactInputObject"
        x-exportParamName: "CreateContactInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Contact has been created with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/contacts/{id}:
    get:
      tags:
      - "Contacts"
      summary: "Get a single contact."
      operationId: "getContact"
      parameters:
      - name: "id"
        in: "path"
        description: "The contact id"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Contact data received with success"
          schema:
            $ref: "#/definitions/Contact"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    put:
      tags:
      - "Contacts"
      summary: "Update existing contact."
      operationId: "updateContact"
      parameters:
      - in: "body"
        name: "UpdateContactInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateContactInputObject"
        x-exportParamName: "UpdateContactInputObject"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Contact has been created with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    delete:
      tags:
      - "Contacts"
      summary: "Delete a single contact."
      operationId: "deleteContact"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when trying to delete contact shared to you"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contact/all:
    delete:
      tags:
      - "Contacts"
      summary: "Delete all contacts."
      operationId: "deleteAllContacts"
      produces: []
      parameters: []
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
  /api/v2/contacts/delete:
    post:
      tags:
      - "Contacts"
      summary: "Delete contact by given ID(s) or delete all contacts."
      operationId: "deleteContactsByIds"
      produces: []
      parameters:
      - in: "body"
        name: "DeleteContactsByIdsInputObject"
        required: true
        schema:
          $ref: "#/definitions/DeleteContactsByIdsInputObject"
        x-exportParamName: "DeleteContactsByIdsInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/customfields:
    get:
      tags:
      - "Custom Fields"
      summary: "Get all contact custom fields."
      operationId: "getCustomFields"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Requested custom fields have been returned with success"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/UserCustomField"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    post:
      tags:
      - "Custom Fields"
      summary: "Create a new custom field from the submitted data."
      operationId: "createCustomField"
      parameters:
      - in: "body"
        name: "CreateCustomFieldInputObject"
        required: true
        schema:
          $ref: "#/definitions/CreateCustomFieldInputObject"
        x-exportParamName: "CreateCustomFieldInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Contact has been created with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/customfields/{id}:
    get:
      tags:
      - "Custom Fields"
      summary: "Get a single custom field."
      operationId: "getCustomField"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/UserCustomField"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    put:
      tags:
      - "Custom Fields"
      summary: "Update existing custom field."
      operationId: "updateCustomField"
      parameters:
      - in: "body"
        name: "UpdateCustomFieldInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateCustomFieldInputObject"
        x-exportParamName: "UpdateCustomFieldInputObject"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Returned when updated with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    delete:
      tags:
      - "Custom Fields"
      summary: "Delete a single custom field."
      operationId: "deleteCustomField"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        204:
          description: "Returned when deleted with success"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/customfields/{id}/update:
    put:
      tags:
      - "Custom Fields"
      summary: "Update contact's custom field value."
      operationId: "updateCustomFieldValue"
      parameters:
      - in: "body"
        name: "UpdateCustomFieldValueInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateCustomFieldValueInputObject"
        x-exportParamName: "UpdateCustomFieldValueInputObject"
      - name: "id"
        in: "path"
        required: true
        type: "string"
        default: "1"
        x-exportParamName: "Id"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Returned when updated with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts/{id}/lists:
    get:
      tags:
      - "Contact Lists"
      summary: "Return lists which contact belongs to."
      operationId: "getListsOfContact"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/Group"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/unsubscribers:
    get:
      tags:
      - "Contacts"
      summary: "Get all contact have unsubscribed from your communication."
      operationId: "getUnsubscribers"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/UnsubscribedContact"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
    post:
      tags:
      - "Contacts"
      summary: "Unsubscribe contact from your communication by phone number."
      operationId: "unsubscribeContact"
      parameters:
      - in: "body"
        name: "UnsubscribeContactInputObject"
        required: true
        schema:
          $ref: "#/definitions/UnsubscribeContactInputObject"
        x-exportParamName: "UnsubscribeContactInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Returned when updated with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/unsubscribers/{id}:
    get:
      tags:
      - "Contacts"
      summary: "Get a single unsubscribed contact."
      operationId: "getUnsubscribedContact"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/UnsubscribedContact"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts/block:
    post:
      tags:
      - "Contacts"
      summary: "Block contact from inbound and outbound communication by phone number."
      operationId: "blockContact"
      parameters:
      - in: "body"
        name: "BlockContactInputObject"
        required: true
        schema:
          $ref: "#/definitions/BlockContactInputObject"
        x-exportParamName: "BlockContactInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Returned when updated with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts/unblock:
    post:
      tags:
      - "Contacts"
      summary: "Unblock contact by phone number."
      operationId: "unblockContact"
      produces: []
      parameters:
      - in: "body"
        name: "UnblockContactInputObject"
        required: true
        schema:
          $ref: "#/definitions/UnblockContactInputObject"
        x-exportParamName: "UnblockContactInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts/unblock/bulk:
    post:
      tags:
      - "Contacts"
      summary: "Unblock several contacts by blocked contact ids or unblock all contacts"
      operationId: "unblockContactsBulk"
      produces: []
      parameters:
      - in: "body"
        name: "UnblockContactsBulkInputObject"
        required: true
        schema:
          $ref: "#/definitions/UnblockContactsBulkInputObject"
        x-exportParamName: "UnblockContactsBulkInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts/block/phone:
    get:
      tags:
      - "Contacts"
      summary: "Check is that phone number blocked"
      operationId: "getContactIfBlocked"
      parameters:
      - name: "phone"
        in: "query"
        description: "Phone number to check"
        required: true
        type: "string"
        x-example: 9997339956475
        x-exportParamName: "Phone"
      responses:
        200:
          description: "Returned when contact is blocked"
          schema:
            $ref: "#/definitions/Contact"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "When contact is not blocked"
  /api/v2/contacts/{id}/notes:
    get:
      tags:
      - "Contact Notes"
      summary: "Fetch notes assigned to the given contact."
      operationId: "getContactNotes"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/ContactNote"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    post:
      tags:
      - "Contact Notes"
      summary: "Create a new contact note."
      operationId: "createContactNote"
      parameters:
      - in: "body"
        name: "CreateContactNoteInputObject"
        required: true
        schema:
          $ref: "#/definitions/CreateContactNoteInputObject"
        x-exportParamName: "CreateContactNoteInputObject"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        default: 1
        x-exportParamName: "Id"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Returned when created with success"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/notes/{id}:
    get:
      tags:
      - "Contact Notes"
      summary: "Get a single contact note."
      operationId: "getContactNote"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        default: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/ContactNote"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    put:
      tags:
      - "Contact Notes"
      summary: "Update existing contact note."
      operationId: "updateContactNote"
      parameters:
      - in: "body"
        name: "UpdateContactNoteInputObject"
        required: true
        schema:
          $ref: "#/definitions/UpdateContactNoteInputObject"
        x-exportParamName: "UpdateContactNoteInputObject"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when trying to edit contact note shared to current\
            \ user"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    delete:
      tags:
      - "Contact Notes"
      summary: "Delete a single contact note."
      operationId: "deleteContactNote"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts/{id}/notes/delete:
    post:
      tags:
      - "Contact Notes"
      summary: "Delete contact note by given ID(s) or delete all contact notes."
      operationId: "deleteContactNotesBulk"
      produces: []
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        x-example: 1
        x-exportParamName: "Id"
      - in: "body"
        name: "DeleteContactNotesBulkInputObject"
        required: true
        schema:
          $ref: "#/definitions/DeleteContactNotesBulkInputObject"
        x-exportParamName: "DeleteContactNotesBulkInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts/{id}/avatar:
    post:
      tags:
      - "Contacts"
      summary: "Add an avatar for the contact."
      operationId: "uploadContactAvatar"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "image"
        in: "formData"
        description: "Contact avatar. Should be PNG or JPG file not more than 10 MB"
        required: true
        type: "file"
        x-exportParamName: "Image"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        default: 1
        x-exportParamName: "Id"
      responses:
        201:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when trying to edit contact shared to current user"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    delete:
      tags:
      - "Contacts"
      summary: "Delete an avatar for the contact."
      operationId: "deleteContactAvatar"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        default: 1
        x-exportParamName: "Id"
      responses:
        204:
          $ref: "#/definitions/SuccessfulResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        403:
          description: "Returned when trying to edit contact shared to current user"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts/import/progress/{id}:
    get:
      tags:
      - "Contacts Import"
      summary: "Get contact import session progress."
      operationId: "getContactImportSessionProgress"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        default: 1
        x-exportParamName: "Id"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/GetContactImportSessionProgressResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/contacts/block/list:
    get:
      tags:
      - "Contacts"
      summary: "Get blocked contacts."
      operationId: "getBlockedContacts"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "query"
        in: "query"
        description: "Find blocked contacts by specified search query"
        required: false
        type: "string"
        x-exportParamName: "Query"
        x-optionalDataType: "String"
      - name: "orderBy"
        in: "query"
        description: "Order results by some field. Default is id"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "firstName"
        - "lastName"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "Order direction. Default is desc"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/Contact"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/email-lookups/{email}:
    get:
      tags:
      - "Tools"
      summary: "Validate Email address using Email Lookup tool"
      operationId: "doEmailLookup"
      parameters:
      - name: "email"
        in: "path"
        required: true
        type: "string"
        format: "email"
        x-example: "andrey.v@textmagic.biz"
        x-exportParamName: "Email"
      responses:
        200:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/DoEmailLookupResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/lists/search:
    get:
      tags:
      - "Contact Lists"
      summary: "Find contact lists by given parameters."
      operationId: "searchLists"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "ids"
        in: "query"
        description: "Find lists by ID(s)"
        required: false
        type: "string"
        x-example: "1,2,3,4"
        x-exportParamName: "Ids"
        x-optionalDataType: "String"
      - name: "query"
        in: "query"
        description: "Find lists by specified search query"
        required: false
        type: "string"
        x-example: "A"
        x-exportParamName: "Query"
        x-optionalDataType: "String"
      - name: "onlyMine"
        in: "query"
        description: "Return only current user lists"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "OnlyMine"
        x-optionalDataType: "Int32"
      - name: "onlyDefault"
        in: "query"
        description: "Return only default lists"
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "OnlyDefault"
        x-optionalDataType: "Int32"
      - name: "orderBy"
        in: "query"
        description: "Order results by some field. Default is id"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "firstName"
        - "lastName"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "Order direction. Default is desc"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/Group"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
  /api/v2/lists:
    get:
      tags:
      - "Contact Lists"
      summary: "Get all user lists."
      operationId: "getUserLists"
      parameters:
      - name: "page"
        in: "query"
        description: "Fetch specified results page"
        required: false
        type: "integer"
        default: 1
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "How many results to return"
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "orderBy"
        in: "query"
        description: "Order results by some field. Default is id"
        required: false
        type: "string"
        default: "id"
        enum:
        - "id"
        - "firstName"
        - "lastName"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "Order direction. Default is desc"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      - name: "favoriteOnly"
        in: "query"
        description: "Return only favorite lists"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "FavoriteOnly"
        x-optionalDataType: "Int32"
      - name: "onlyMine"
        in: "query"
        description: "Return only current user lists"
        required: false
        type: "integer"
        default: 0
        enum:
        - 0
        - 1
        x-exportParamName: "OnlyMine"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Returned when successful"
          schema:
            type: "object"
            required:
            - "limit"
            - "page"
            - "pageCount"
            - "resources"
            properties:
              page:
                type: "integer"
                example: 1
              pageCount:
                type: "integer"
                example: 10
              limit:
                type: "integer"
                example: 10
              resources:
                type: "array"
                items:
                  $ref: "#/definitions/Group"
            additionalProperties: {}
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
        404:
          description: "Request data not found"
          schema:
            $ref: "#/definitions/NotFoundResponse"
    post:
      tags:
      - "Contact Lists"
      summary: "Create a new list from the submitted data."
      operationId: "createList"
      parameters:
      - in: "body"
        name: "CreateListInputObject"
        required: true
        schema:
          $ref: "#/definitions/CreateListInputObject"
        x-exportParamName: "CreateListInputObject"
      - name: "X-Ignore-Null-Values"
        in: "header"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "XIgnoreNullValues"
        x-optionalDataType: "Bool"
      responses:
        201:
          description: "Returned when successful"
          schema:
            $ref: "#/definitions/ResourceLinkResponse"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/BadRequestResponse"
        401:
          description: "Unauthorized request"
          schema:
            $ref: "#/definitions/UnauthorizedResponse"
  /api/v2/lists/{id}/contacts:
    get:
      tags:
      - "Contact Lists"
      summary: "Fetch user contacts by given group id."
[...]
